

/* WHOLE SITE */

.card_padding_bottom_store {
	padding-bottom: 12px;
}


/* TOP NAV - Sign In/Register */

.top-nav-container {
	padding-top:17px;
	margin-bottom: -35px;
	padding-right:30px;
	direction: rtl;
}

.signInLink {
	text-align: center;
	padding:5px 10px;
}

.signInLink:hover {
	background-color: var(--color-neutral-medium);
}


/* HEADER */

#header-container {
	display: flex;
}

.menu-icon-container {
	background-image: url("../img/menu-icon.png");
	height: 20px;
	width:20px;
	background-position: left;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left:50px;
}

header h1 {
	color: var(--color-dark);
	line-height: var(--header-height);
	font-size: 35px;
}


/* HEADER - Horizotanl nav*/

.horizontal-nav-container {
	padding-top: 25px;
}

.horizontal-nav-container a {
	font-size: 17px;
	padding-left:15px;
	padding-left:15px;
}

.header-img-container {
	height: 200px;
	background-image: url("https://fashionista.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_620/MTY0ODk3NzcxMTIyMzM3MDgy/hp-argent-workwear-nyc-store.jpg")
}


/* HEADER - Search bar*/

.header-search-bar-container {
	text-align: right;
	/*direction: rtl;*/
}

.header-search-keyword-input {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
	display:inline-block;
	width:40%;
	border-bottom: 1px solid #eee;
	border-radius: initial;
	padding-left: 20px;
}

.header-search-bar {
	position: relative;
	margin-top: var(--spacing);
	vertical-align: top;
}
	
.fa.fa-search {
	font-size: 18px;
	position: absolute;
	right:15px;
	top:1px;
}


/* HEADER - Cart Button */

.header-checkout-container {
	font-size: 12px;
}

.cartButton {
	display: inline-block;
	padding:10px;
	margin-top: 10px;
}

span.badge:not(:empty)::after {
	content:')';
}

span.badge:not(:empty)::before {
	content:'(';
}


.hr-class {
	display: block;
	border:1px;
	height: 1px;
	background-color: #e1e1e1;
	margin-top: -20px;

}

@media screen and (min-width: 1024px) {
	.menu-icon-container {
		display: none;
	}

	.header-checkout-container {
		order:1;
	}

	.header-search-bar-container {
		order:0;
	}

}


@media screen and (max-width: 1024px){
	.horizontal-nav-container {
		display: none;
	}

	#header-container {
		flex-wrap: wrap;
	}

	.header-search-bar-container {
		width: 100%;
		margin-left:-25px;
		margin-right:-25px;
		margin-bottom: 12px;
		margin-top: -20px;
	}

	.header-checkout-container {
		flex: 1 1 auto;
		text-align: right;
	}

	header h1 {
		line-height: 30px;
	}

	.top-nav-container {
		display: none;
	}

}

@media screen and (max-width: 900px) {

	.header-search-keyword-input{
		width: 100%;
		padding-left:20px;
		border-top-width: 0;
		border-left-width: 0;
		border-right-width: 0;
	}

	.hr-class {
		display: none;
	}
}
	



/* HEADER - Side nav */

.overlay {
	height: 100%;
	width: 0;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color: white;
	opacity: 1;
	overflow-x: hidden;
	transition: 0.5s;

}

.overlay-content {
	position: relative;
	top:8%;
	width: 100%;
	text-align: center;
}

.overlay a {
	padding:8px;
	text-decoration: none;
	font-size:16px;
	color:#818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position:absolute;
	top:20px;
	right:45px;
	font-size: 20px;
}



/*** MAIN SECTION ***/

.view-window h1,
.view-window h3{
	color: white;
}

.cards_container {
	background-color: rgb(237,237,237);
}

.card_heading {
	text-align: center;
	font-size: 30px;
	letter-spacing: 0px;
	margin-block-start: 0.7em;
    margin-block-end: 0.7em;
}

.card img {
	width: 100%;

}

.product_info_container {
	background-color: #fff;
	padding: 10px 0px;
	margin-top: -14px;
	margin-bottom: -14px;
}

.card .product_brand{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: bolder;
}

.card span {
	text-align: center;	
	padding: 0.1em 0;
}


/*** FOOTER ****/

.footer-content-container {
	background-color: #ededed;

	padding-left: 150px;
	padding-right: 150px;

	padding-top: 20px;
	padding-bottom: 20px;

	margin-top: 20px;
	margin-bottom: 15px;

	margin-left: 0;
	margin-right: 0;
}

footer a {
	font-size: 13px;
}


/* FOOTER - left*/

.footer-links-left {
	border-right: 1px solid grey;
	margin-right: 20px;

}

.footer-links-left h5 {
	margin-top: 5px;
	margin-bottom: 3px;
}

.footer-links-left .nav {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

footer h5{
	font-size:13px;
}


/* FOOTER - right*/

.footer-links-right {
	text-align: center;
}


.email-signup_lable {
	line-height: 16px;
	font-size: 13px;
	margin: 10px 0;
	font-weight: 600;
	
}

.email-signup_input {
	width: 300px;
	height: 40px;
	background-color: #fff;
	font-size: 13px;
	font-family: var(--font-sans);
	
}

.email-signup_submit {
	background-color: #000;
	border: none;
	height: 40px;
	width: 70px;
	vertical-align: top;
	border-radius: 0; !important	
}


@media screen and (max-width: 1024px) {
	.footer-content-container {
		flex-wrap: wrap;
		/* Center the flex items */
		justify-content: center;
		padding-left:20px;
		padding-right:20px;
		margin-top: 0;
		padding-top: 0;
	}


	.footer-links-left {
		border-right: none;
		padding:20px;
		border-bottom: 1px solid #ccc;
		
	}

	.footer-links-right {
		flex-basis: 100%;
		padding: 0 40px;

	}

	.footer_sign_up {
		justify-content:center;
	}
}


/* Footer bottom*/

.footer-site-links {
	text-align: center;
	padding-bottom: 16px;
	font-size: 10px;
	font-family: Helvetica,Arial,Roboto,sans-serif;
}

.footer-site-links_divider {
	padding-left: 7px;
	padding-right: 7px;
}

/* START of product_item.php PAGE */

.images-main img {
	width: 100%;
	height: 50vh;
	object-fit: contain;
}

.images-thumbs img {
	width: 9em;
	height:8em;
	object-fit: contain;
}


.checked {
  color: grey;
}

.product_item_heading .product-heading_designer {
	font-weight: 700;
	color:#000;
	line-height: 40px;
	
}

.product_item_heading .product-heading_name {
	font-size:16;
	font-weight: 400;
}

.product_item_heading .product-heading_price {
	line-height: 30px;
}

.product_item_heading .product-heading_shipping_label {
	line-height: 20px;
}


.size-select select,
.color-select select,
.quantity-select select,
.description,
.add_to-shopping-bag button{
	display: block;
	width: 60%;
	margin-top: 20px;
	padding:10px; 
	word-spacing: 0.1em;
}

.amount-select select {
	display: block;
	width: 100%;
	margin-top: 20px;
	padding:3px; 
}

.quantity-select input {
	padding-left: 18%;
}


.decrease_button,
.increase_button {
	background-color: transparent;
	border: none;
	font-size: 20px;
	position: absolute;
	color:black;
	padding-right: 20px;
}


@media screen and (max-width: 1024px ){
	.product_detail_info-container {
		padding-bottom: 10px;
		padding:0 40px;

	}

	.size-select select,
	.color-select select,
	.quantity-select select,
	.description,
	.add_to-shopping-bag button {
		display: inline-block;
		width: 100%;
		margin-top: 20px;
		padding:10px;
	}

}


.images-main img {
	width: 100%;
	height: 50vh;
	object-fit: contain;
}

.images-thumbs img {
	width: 9em;
	/*height:100%;*/
	object-fit: contain;
}


/* END of product_item.php PAGE */



/* START of checkout.php PAGE */

@media screen and (min-width: 800px) {

	.checkout-container {
		padding-right: 25%;
		padding-left:25%;
	}
}

@media screen and (max-width: 799px) {

	.checkout-container {
		padding-right: 10%;
		padding-left:10%;
	}

	.checkout-action-container {
		padding:0 8px;
	}

}

/* END of checkout.php PAGE */


/* START of product_list.php PAGE */

.side-filter-container {
	padding-left:25px;
	padding-right:25px;
}

.filter-link {
	cursor: pointer;
}

.filter-link:hover {
	font-weight: 900;
}



@media screen and (max-width: 600px) {
	.product-container {
		margin-top: -40px;
	} 
}


/* Admin product list */
.admin-product_list-container {
	color:#000;
}


.admin-product_list-container table, tr, th, td {
	border-collapse: collapse;
	text-align: center;
}


.admin-product_list-container tr {
	border-bottom: 1px solid #dddddd;
	align-items: center;
}


.admin-product_list-container .table-heading {
	font-size: 15px;
	line-height: 30px;
}

.admin-product_list-container th {
	background-color: black;
  	color: white;
}


@media screen and (max-width: 800px) {
	.admin-product_list-container caption {
		margin-top: 30px;
	}
}


.admin-product_list-container th, td {
	padding:0px 10px;
}

@media screen and (min-width: 800px) {
	.admin-product_list-container .action-edit {
		margin-left:180px;
		margin-right:180px;
	}

	.add-product-container {
		padding: 0px 450px;
	}

	.edit-product-container {
		padding: 0px 80px;
	}


}

.product-container {
	padding: 0 20px;
}



