.card_padding_bottom_store {
	padding-bottom: 12px;
}
/* HEADER */

h1 {
	color: var(--color-dark);
	line-height: var(--header-height);
}


/* Sign In/Register */
.signInLink {
	text-align: center;
}

.header-img-container {
	height: 350px;
	margin-top:10px;
	background-image: url("https://fashionista.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_620/MTY0ODk3NzcxMTIyMzM3MDgy/hp-argent-workwear-nyc-store.jpg")
}


.nav_container {
	display: inline-block;
	margin-top:-20px;
	margin-left: 20px;
/*	border: 1px solid red;*/
}

.nav_container a {
	padding-left:20px;
	padding-right: 20px;
	font-size: 15px;

}



header form {
	margin-top: var(--spacing);
	vertical-align: top;
}


/* Shopping Cart Button class*/
.cartButton {
	background-color: black;
	color: white;
	padding: 7px 11px;
	font-size: 12px;

}

.cartButton:hover{
	background-color: var(--color-neutral-dark);
}


/* MAIN */

.big_container {
	background-color: rgb(237,237,237);
}

.product_info_container {
	background-color: #fff;
	padding: 10px 0px;
	margin-top: -14px;
	margin-bottom: -14px;
}

.heading_one {
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 1px;
	padding-top: 20px;
	margin-bottom: -10px;
	/*border: 1px solid red;*/
}



.big_container h2 {
	/*text-align: center;*/
/*	margin-top:0px;*/
	margin-bottom: 0px;
/*	margin-bottom: -10px;*/
}


.view-window h1,h3{
	color: white;
}

.card img {
	width: 100%;

/* border: 1px solid red; */

}

.card .product_brand{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 3px;
}

.card span {
	display: block;
	text-align: center;	
	padding: 0.1em 0;
}



/* FOOTER */

.footer-content-container {
	background-color: #ededed;

	padding-left: 150px;
	padding-right: 150px;

	padding-top: 20px;
	padding-bottom: 20px;

	margin-top: 20px;
	margin-bottom: 15px;

	margin-left: 0;
	margin-right: 0;
}


/* footer left*/

.footer-links-left {
	border-right: 1px solid grey;
	margin-right: 20px;

}

.footer-links-left h5 {
	margin-top: 5px;
	margin-bottom: 3px;
}

.footer-links-left .nav {
	list-style-type: none;

	margin-top: 0;
	margin-bottom: 0;

	padding-left: 0;
}


/* Footer right*/

footer a {
	font-size: 12px;
}
.footer-links-right {
	text-align: center;
}


.email-signup_lable {
	text-transform: uppercase;
	text-align: center;
	line-height: 16px;
	font-size: 13px;
	margin: 10px 0;
	font-weight: 600;
	
}

.email-signup_input {
	width: 300px;
	height: 40px;
	background-color: #fff;
	font-size: 13px;
	font-family: var(--font-sans);

}

.email-signup_submit {
	background-color: #000;
	border: none;
	height: 40px;
	width: 40px;
	vertical-align: top;
}


/* footer bottom*/

.footer-site-links {
	text-align: center;
	padding-bottom: 16px;
	font-size: 10px;
	font-family: Helvetica,Arial,Roboto,sans-serif;
}

.footer-site-links_divider {
	padding-left: 7px;
	padding-right: 7px;
}







