

/*** WHOLE PAGE ***/

.card_padding_bottom_store {
	padding-bottom: 12px;
}

.container {
	margin-bottom: -20px;
}






/*** TOP NAV - Sign In/Register ***/

.top-nav-container {
	padding-top:17px;
	margin-bottom: -35px;
	padding-right:30px;
}

.signInLink {
	text-align: center;
	padding:5px 10px;
}

.signInLink:hover {
	background-color: var(--color-neutral-medium);
}






/*** HEADER ***/

#header-container {
	display: flex;
}

.menu-icon-container {
	background-image: url("../img/menu-icon.png");
	height: 20px;
	width:20px;
	background-position: left;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-left:50px;
}

header h1 {
	color: var(--color-dark);
	line-height: var(--header-height);
	font-size: 35px;
}


/* HEADER - Horizotanl nav*/

.horizontal-nav-container {
	padding-top: 25px;
}

.horizontal-nav-container a {
	font-size: 17px;
	padding-left:15px;
	padding-left:15px;
}

.header-img-container {
	height: 200px;
	background-image: url("https://fashionista.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cfl_progressive%2Cg_faces:center%2Cq_auto:good%2Cw_620/MTY0ODk3NzcxMTIyMzM3MDgy/hp-argent-workwear-nyc-store.jpg")
}



/* HEADER - Search bar*/

.header-search-bar-container {
	text-align: right;
	/*direction: rtl;*/
}

#header-search-keyword {
	border-top-width: 0;
	border-left-width: 0;
	border-right-width: 0;
}

.header-search-bar {
	position: relative;
	margin-top: var(--spacing);
	vertical-align: top;
}
	
.fa.fa-search {
	font-size: 18px;
	position: absolute;
	right:15px;
	top:3px;
	
}


/* HEADER - Shopping Cart Button class*/

.header-checkout-container {
	font-size: 12px;

}

.cartButton {
	display: inline-block;
	padding:10px;
	margin-top: 10px;
}

.cartButton:hover{
	background-color: var(--color-neutral-medium);
}




@media screen and (min-width: 1024px) {
	.menu-icon-container {
		display: none;
	}

	.header-checkout-container {
		order:1;
	}

	.header-search-bar-container {
		order:0;
	}

}

@media screen and (max-width: 1024px){
	.horizontal-nav-container {
		display: none;
	}

	#header-container {
		flex-wrap: wrap;
	}

	.header-search-bar-container {
		width: 100%;
		margin-left:-25px;
		margin-right:-25px;
		margin-bottom: 12px;
		margin-top: -20px;
	}

	#header-search-keyword {
		width: 100%;
		padding-left:20px;

	}

	.header-checkout-container {
		flex: 1 1 auto;
		text-align: right;
	}

	header h1 {
		line-height: 30px;
	}

	.top-nav-container {
		display: none;
	}

}


/* HEADER - Side nav */

.overlay {
	height: 100%;
	width: 0;
	position:fixed;
	z-index:1;
	top:0;
	left:0;
	background-color: white;
	opacity: 1;
	overflow-x: hidden;
	transition: 0.5s;

}

.overlay-content {
	position: relative;
	top:8%;
	width: 100%;
	text-align: center;
	/*margin-top: 30px;*/
}

.overlay a {
	padding:8px;
	text-decoration: none;
	font-size:16px;
	color:#818181;
	display: block;
	transition: 0.3s;
}

.overlay a:hover .overlay a:focus {
	color: #f1f1f1;
}

.overlay .closebtn {
	position:absolute;
	top:20px;
	right:45px;
	font-size: 20px;
}



/*** MAIN SECTION ***/

.view-window h1,h3{
	color: white;
}

.cards_container {
	background-color: rgb(237,237,237);
}

.card_heading {
	text-align: center;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 1px;
	padding-top: 20px;
	margin-bottom: -10px;
}

.card img {
	width: 100%;

}

.product_info_container {
	background-color: #fff;
	padding: 10px 0px;
	margin-top: -14px;
	margin-bottom: -14px;
}

.card .product_brand{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 3px;
	font-weight: bolder;
}

.card span {
	display: block;
	text-align: center;	
	padding: 0.1em 0;
}



/*** FOOTER ****/

.footer-content-container {
	background-color: #ededed;

	padding-left: 150px;
	padding-right: 150px;

	padding-top: 20px;
	padding-bottom: 20px;

	margin-top: 20px;
	margin-bottom: 15px;

	margin-left: 0;
	margin-right: 0;
}

footer a {
	font-size: 13px;
}


/* FOOTER - left*/

.footer-links-left {
	border-right: 1px solid grey;
	margin-right: 20px;

}

.footer-links-left h5 {
	margin-top: 5px;
	margin-bottom: 3px;
}

.footer-links-left .nav {
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}

footer h5{
	font-size:13px;
}


/* FOOTER - right*/

.footer-links-right {
	text-align: center;
}


.email-signup_lable {
	line-height: 16px;
	font-size: 13px;
	margin: 10px 0;
	font-weight: 600;
	
}

.email-signup_input {
	width: 300px;
	height: 40px;
	background-color: #fff;
	font-size: 13px;
	font-family: var(--font-sans);
	
}

.email-signup_submit {
	background-color: #000;
	border: none;
	height: 40px;
	width: 40px;
	vertical-align: top;
	
}


@media screen and (max-width: 1024px) {
	.footer-content-container {
		flex-wrap: wrap;
		/* Center the flex items */
		justify-content: center;
		padding-left:20px;
		padding-right:20px;
		margin-top: 0;
		padding-top: 0;
	}


	.footer-links-left {
		border-right: none;
		padding:20px;
		border-bottom: 1px solid #ccc;
		
	}

	.footer-links-right {
		flex-basis: 100%;

	}

	.footer_sign_up {
		justify-content:center;
	}

}


/* Footer bottom*/

.footer-site-links {
	text-align: center;
	padding-bottom: 16px;
	font-size: 10px;
	font-family: Helvetica,Arial,Roboto,sans-serif;
}

.footer-site-links_divider {
	padding-left: 7px;
	padding-right: 7px;
}









