
:root{
    --color-offwhtie: #f4f4f4;

    --color-main-light:#cbebf9;
    --color-main-medium:#2592c3;
    --color-main-dark:#052b3c;
}


body{
	background-color: var(--color-offwhtie);
}


@media(max-width: 800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
    .navbar h1{
    	padding-left: 0.5em;
    }
    .navbar .nav li {
    	line-height: 2em;
    }
}

@media(max-width: 400px) {
    .navbar .display-flex{
    	display: block;
    }
    .navbar .nav li {
    	line-height: 2em;
    }
}












.figure.product {

  border-radius: 0.5em;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  overflow: hidden;
  padding:30px;
  transition:all 0.3s;
}


.product.figure img{
  height:100%;
  object-fit: contain;
}


.productlist a{
  text-decoration: none;
  font-weight: initial;
}


.product.figure:hover{
  box-shadow: 0 2px 15px rgba(0,0,0,0.2);
}


.product-overlay {

  position: relative;
  overflow: hidden;
  padding:20px;
}

.product-overlay figcaption {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  transition: all 0.3s;

}

.product-overlay:hover figcaption {

  opacity: 1;
}

.product-overlay .caption-body {

  background-color:#faf2f2;
  border-radius: 0.5em;
  margin-top: 100px;
  padding: 3em;
  transform: translatey(2em);
  transition: all 0.3s;
}

.product-overlay:hover .caption-body {

  transform: translateY(0);
}

.product-overlay img {

  transform: scale(1,1)
  transition: all 0.3s;
}

.product-overlay:hover img {

  transform: scale(1.4,1.4);
}

@media (max-width: 600px) {

  .product-overlay figcaption {
    position: relative;
    display: block;
    top: initial;
    left: initial;
    width: 100%;
    height:initial;
  }
}





.image-main img{
  width:100%;
  height:40vh;
  object-fit: contain;
}


.image-thumbs img{
  width:8em;
  height:6em;
  object-fit: contain;
}














