
:root{
	--color-offwhite: #f4f4f4;
}
body {
	background-color:var(--color-offwhite);
}

.product.figure img{
	height: 100%;
	object-fit: contain;
}
.figure img {
	width: 100%;
}

.figure.product{

	border-radius: 0.5em;
	box-shadow: 0 2px 5px rgba(0,0,0,0.1);
	overflow: hidden;
	height: 100%;
	transition: all 0.3s;

}

.productlist a {
	text-decoration: none;
	font-weight: initial;
}

.product.figure:hover{
	box-shadow: 0 2px 15px rbga(0,0,0,0.2);
}

.images-main img{
	width: 100%;
	height: 40vh;
	object-fit: contain;

}
.images-thumbs img{
	width: 8em;
	height: 6em;
	object-fit: contain;

}
@media (max-width: 800px) {
	.container {
		padding-left: 1em;
		padding-right: 1em;
	}
	.navbar  h1{
		padding-left: 1em;
	}
}
.menu-button label {display: none;}
@media(max-width: 400px) {
	.navbar .display-flex {
		flex-wrap:wrap;
	}
	.navbar .nav {
		width:100%;
		display:none;
	}
	.navbar .nav-flex ul {
		display: block;
	}
	.navbar . nav li{
		line-height: 2em;
	}
	.menu-button label{
		display: block;
		padding:0 1 em;
	}
	#menu:checked+.navbar .nav{
		display: block;
	}
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
