/* CSS RESET */

*, *::after, *::before {
	box-sizing: border-box;
}

:root {
	--color-neutral-light: #eee;
	--color-neutral-medium: #999;
	--color-neutral-dark: #555;
	--color-light-yellow: #fff8ed;

	--color-black-coffee: #433A3F;
	--color-tan-crayola: #CD9365;
	--color-floral-white: #FFF9ED;
	--color-cornflower-blue: #758BFD;

	--color-black: #000;
	--color-white: #fff;

	--header-height: 3rem;
	--spacing: 1rem;

	--font-serif: Georgia, "Times New Roman", serif;
	--font-sans: futura-pt, Arial, sans-serif;
	--font-sans-heading: utopian, sans-serif;
}

.clarendon {
	font-family: clarendon-urw, serif;
	font-weight: 300;
	font-style: normal;
}

body {
	margin: 0;
	font-size: 100%;
	font-family: var(--font-sans);
	background-color:var(--color-white);
}

h1  
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: var(--font-sans);
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: none;
}
a:hover {
	text-decoration: underline
}

/* LAYOUT CLASSES */

.container {
	max-width: 1000px;
	margin-right: auto;
	margin-left: auto;
		/*
	margin-right: 40px;
	margin-left: 40px;
	*/
}

.display-flex { display:flex; }
.display-inline-flex { display:inline-flex; }
.display-block-flex { display:block; }
.display-inline-block { display:inline-block; }

.flex-stretch { flex: 1 1 auto; }
.flex-none { flex: none; }

.flex-align-center { align-items:center; }
.flex-justify-center { justify-content:center; }

/* CARD */

.card {
	background-color: var(--color-white);
	margin-top: 1em;
	margin-bottom: 1em;
	padding: 1em;

	overflow: hidden;
	position: relative;
}
	.card.soft {
			border-radius: 0.5em;
			box-shadow: 0 0 10px rgba(0,0,0,0.1);
	}
	.card.hard {
		border-radius: 0.2em;
		border: 2px solid var(--color-neutral-medium);
	}

	.card.dark {
		background-color: var(--color-neutral-dark);
		color: var(--color-neutral-light);
	}
	.card.medium {
	background-color: var(--color-neutral-medium);
	}

	.card.flat {
		padding: 0;
	}

button.big {
	padding: 1em 5em;
	border: 1px solid var(--color-neutral-medium);
	border-radius: 0;
	font-size: 1em;
	font-weight: bold;
	font-family: var(--font-sans);
	cursor: pointer;
	background-color: var(--color-white);
}

nav {
	
}
nav ul, .sidebar ul{
	list-style-type: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
}
nav li {
	line-height: 35px;
}

.sidebar {
	font-size: 1.4em;
}

.view-window {
	height: 50vh;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.adobe {
	font-size: 4em;
	font-weight: bold;
	width: 100%;
	height: 100%;
	margin-top: 100px;
	text-align: center;
	color: var(--color-white);
}