
.navbar {
	/*
	*/
}
	.navbar .infobar {
		background-color: #cd9365;
	}
	.navbar .infobar .message {
		padding: 10px;
		text-align: center;
		color: white;
		text-transform: uppercase;
		letter-spacing: 0.3em;
	}
	.navbar .mainbar {
		padding: 30px 0 30px 0;
	}
	.navbar .mainbar .logo {
		background-image: url('../img/logo.png');
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		width: 140px;
		height: 40px;
		color: rgba(0,0,0,0);
	}
	.navbar h1 {
		font-size: 1em;
		margin: 0;
		font-family: var(--font-sans);
	}
	.navbar a {
		padding: 0 0.5em;
	}

/* COMPONENT CLASS */

.content { 
	display: flex;
}

.sidebar {
	padding-top: 2em;
	padding-left: 0.5em;
	width: 20%;
	border-right: 1px solid var(--color-neutral-medium);
}

.main {
	padding-left: 20px;
	width: 80%;
}

.view-window {
	height: 390px;
	position: relative;
	overflow: hidden;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.main .col-2 {
	display: flex;
}

.main .col-2 > div {
	width: 50%;
}

.main .col-2 .text, .main .col-1 .text {
	background-color: var(--color-light-yellow);
}


.main .col-2 .text > p {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	text-align: center;
	font-size: 1.7em;
	font-weight: bold;
	margin-top: 50%;
}

.main .col-2 .image {
	background-repeat: no-repeat;
	background-size: cover;
}

.main .col-2 .image > img {
	width: 100%;
}

.main .col-1 .text > p {
	padding: 4em;
	text-align: left;
	font-size: 1.7em;
	font-weight: bold;
}


















































